<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
    <div>Mail Templates</div>
    <button class="btn btn-primary" (click)="createTemplate()">Create Template</button>
</h4>

<div class="card">
    <!-- Table controls -->
    <div class="card-body">

        <div class="row">
            <div class="col">
                Per page: &nbsp;
                <select [(ngModel)]="perPage" (change)="update()"
                    class="form-control custom-select-sm d-inline-block w-auto">
                    <option *ngFor="let limit of [10, 20, 30, 40, 50]">{{limit}}</option>
                </select>
            </div>
        </div>

    </div>
    <!-- / Table controls -->

    <!-- Table -->
    <hr class="border-light m-0">
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table">
            <thead>
                <tr>
                    <th class="text-nowrap cursor-pointer" >
                        Subject
                    </th>
                    <th class="text-nowrap cursor-pointer">
                        Type
                    </th>
                    <th class="text-nowrap cursor-pointer" >
                        Active
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of templateData">
                    <td class="align-middle">{{item.subject}}</td>
                    <td class="align-middle">{{item.type ? item.type.value : ''}}</td>
                    <td class="align-middle">{{item.active == 1 ? 'Active': 'Inactive'}}</td>
                    <td class="text-center text-nowrap align-middle">
                        <a (click)="editTemplate(item.id)" class="btn btn-default  icon-btn md-btn-flat"
                            ngbTooltip="Edit">
                            <i class="ion ion-md-create"></i>
                        </a>
                        <a (click)="showDeleteModal(item.id)" class="btn btn-default  icon-btn md-btn-flat"
                            ngbTooltip="Delete">
                            <i class="ion ion-md-close-circle"></i>
                        </a>                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- / Table -->

    <!-- Pagination -->
    <div class="card-body py-0">

        <div class="row">
            <div class="col-sm text-sm-left text-center pt-3">
                <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
            </div>
            <div class="col-sm pt-3">
                <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    (pageChange)="update()" size="sm" class="d-flex justify-content-center justify-content-sm-end m-0">
                </ngb-pagination>
            </div>
        </div>

    </div>
    <!-- / Pagination -->
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h4 class="modal-title" id="myModalLabel">Success</h4>
            </div>
            <div class="modal-body">
                Do you want to delete Mail Template ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="deleteTemplate()">Yes</button>
                <button type="button" class="btn btn-dark" (click)="cancelDelete()">No</button>
            </div>
        </div>
    </div>
</div>