<form [formGroup]="dataForm" class="card">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-label">Driving Licence Number</label>
                <input type="text" class="form-control" formControlName="licence_number" name="licence_number" [ngClass]="{ 'is-invalid': submitted &&
                    f.licence_number.errors }" />
                <div *ngIf="f.licence_number.errors && submitted" class="invalid-feedback">
                    <div *ngIf="f.licence_number.errors.required">
                        This field is Required
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="form-label">Driving Licence Expiry</label>
                <input type="text" class="form-control" formControlName="licence_expiry" name="licence_expiry" [ngClass]="{
                    'is-invalid': submitted &&
                    f.licence_expiry.errors
                    }" />
                <div *ngIf="f.licence_expiry.errors && submitted" class="invalid-feedback">
                    <div *ngIf="f.licence_expiry.errors.required">
                        This field is Required
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-label">HGV Licence?</label>
                <input formControlName="hgv_licence" name="hgv_licence"
                    type="checkbox">
            </div>

            <div class="form-group col-md-6" *ngIf="f.hgv_licence.value">
                <label class="form-label">Driver CPC Upload</label>
                <input hidden type="file" accept="application/pdf" id="uploader" (change)="uploadFile($event)" />

                <div class="d-inline-flex">
                    <a class="btn btn-default icon-btn md-btn-flat" ngbtooltip="Upload" (click)="uploadDocument()">
                        <i class="ion ion-md-cloud-upload"></i>
                    </a>

                    <button 
                        *ngIf="hgv_licence_upload"
                        ngbtooltip="Delete" class="btn
                        btn-default
                        icon-btn md-btn-flat" 
                        [swal]="{title:'Are you
                        sure?', text:'You won\'t
                        be able to revert this!', icon:'warning',
                        showCancelButton:true, confirmButtonText:'Delete', 
                        showCloseButton:true, customClass:
                        {confirmButton:'btn btn-lg
                        btn-warning',cancelButton: 'btn btn-lg
                        btn-default'}}" (confirm)="deleteDocument()">
                        <i class="ion ion-md-trash"></i>
                    </button>
                    <a 
                        *ngIf="hgv_licence_upload"
                        class="btn
                        btn-default
                        icon-btn md-btn-flat" ngbtooltip="View" href="{{
                        downloadurl }}?driver={{ driver_id }}&filename={{
                            hgv_licence_upload }}">
                        <i class="ion ion-md-cloud-download"></i>
                    </a>
                </div>
            </div>
        </div>
        <button type="button" (click)="onSubmit()" class="btn btn-primary
            rounded-pill d-block">
            <span class="ion ion-md-add"></span>&nbsp; Update
        </button>
    </div>
</form>
