<div class="main-container">
    <p class="center mt-3">Thank you for registering for an account with GJS. We are reviewing your application and one of our team will be in touch 
        in due course to confirm your account details. In the meantime, if you would like to speak to us please call <a href="tel:0-800-180-4170">0800 180 4170</a> or 
        <a href="mailto:operations@gjsservices.com">email us</a></p>
    <div class="d-flex align-items-center m-0 flex-end">
        <button type="button" class="btn" (click)="onBack()" type="button">Back</button>
    </div>
</div>