.service-item {
    background: rgb(102, 241, 121);
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin: 0px 0px 4px 0px;
    width: fit-content;
}

.comm-item {
    background: rgb(102, 162, 241);
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin: 0px 0px 4px 0px;
    width: fit-content;
}

.book-item {
    background: rgb(240, 124, 182);
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin: 0px 0px 4px 0px;
    width: fit-content;
}

.has-account {
    text-align: center;
    background: #8bc34a;
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin: 0px 0px 4px 0px;
}