<div class="card">
    <div class="card-header">
        <h6 class="mt-4 mb-3">Job Completed</h6>
    </div>
    <!-- Table controls -->
    <div class="card-body">

        <div class="row">
            <div class="col">
                Per page: &nbsp;
                <select [(ngModel)]="perPage" (change)="update()" class="form-control custom-select-sm d-inline-block
                    w-auto">
                    <option *ngFor="let limit of [10, 20, 30, 40, 50]">{{limit}}</option>
                </select>
                <input type="text" [(ngModel)]="filterVal" (input)="currentPage= 1; update()" class="form-control form-control-sm d-inline-block
                    w-auto" placeholder="Search...">
            </div>
        </div>
    </div>
    <!-- / Table controls -->

    <!-- Table -->
    <hr class="border-light m-0">
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table">
            <thead>
                <tr>
                    <th class="text-nowrap cursor-pointer" (click)="setSort('id')">
                        Docket Number<i class="ion text-muted ml-2" *ngIf="sortBy=='id'" [ngClass]="'ion-md-arrow-' + (sortDesc ?
                            'down' : 'up')"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer" (click)="setSort('email')">
                        Customer<i class="ion text-muted ml-2" *ngIf="sortBy=='email'" [ngClass]="'ion-md-arrow-' + (sortDesc ?
                            'down' : 'up')"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer" (click)="setSort('name')">
                        Job Date<i class="ion text-muted ml-2" *ngIf="sortBy=='name'" [ngClass]="'ion-md-arrow-' + (sortDesc ?
                            'down' : 'up')"></i>
                    </th>

                    <th class="text-nowrap cursor-pointer" (click)="setSort('latestActivity')">
                        Job Price<i class="ion text-muted ml-2" *ngIf="sortBy=='latestActivity'" [ngClass]="'ion-md-arrow-' + (sortDesc ?
                            'down' : 'up')"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer" (click)="setSort('latestActivity')">
                        Driver Price<i class="ion text-muted ml-2" *ngIf="sortBy=='latestActivity'" [ngClass]="'ion-md-arrow-' + (sortDesc ?
                            'down' : 'up')"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer" (click)="setSort('latestActivity')">
                        Profit<i class="ion text-muted ml-2" *ngIf="sortBy=='latestActivity'" [ngClass]="'ion-md-arrow-' + (sortDesc ?
                            'down' : 'up')"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer" (click)="setSort('latestActivity')">
                        Status<i class="ion text-muted ml-2" *ngIf="sortBy=='latestActivity'" [ngClass]="'ion-md-arrow-' + (sortDesc ?
                            'down' : 'up')"></i>
                    </th>
                </tr>
            </thead>
            <tbody class="job-list-table">
                <tr *ngFor="let task of taskData" (click)="editTask(task.id)">
                    <td class="align-middle">{{task.docket}}</td>
                    <td class="align-middle">{{ task.customer.account_code }} - {{task.customer.company_name}}
                    </td>
                    <td class="align-middle">{{task.job_date}}</td>
                    <td class="align-middle">&pound; {{task.c_net.toFixed(2)}}</td>
                    <td class="align-middle">&pound; {{task.d_net.toFixed(2)}}</td>
                    <td class="align-middle">&pound; {{task.profit.toFixed(2)}}</td>
                    <td class="align-middle" [ngStyle]="{background:
                        task._status ?
                        task._status.color : '#fff'}">
                        {{task._status.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- / Table -->

    <!-- Pagination -->
    <div class="card-body py-0">

        <div class="row">
            <div class="col-sm text-sm-left text-center pt-3">
                <span class="text-muted" *ngIf="totalItems">Page {{
                    currentPage }} of {{ totalPages }}</span>
            </div>
            <div class="col-sm pt-3">
                <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="update()" size="sm" class="d-flex
                    justify-content-center
                    justify-content-sm-end m-0">
                </ngb-pagination>
            </div>
        </div>
    </div>
    <!-- / Pagination -->
</div>