<h4 class="d-flex justify-content-between align-items-center w-100
    font-weight-bold py-3 mb-4">
    <div>Edit Driver</div>
</h4>

<div class="media align-items-center py-3 mb-3">
    <div class="media-body ml-4">
        <h4 class="font-weight-bold mb-0">
            User name
            <span class="text-muted font-weight-normal">@ {{ data ?
                data.subcontractor :
                "" }}</span>
        </h4>
        <div class="text-muted mb-2">ID: {{ data ? data.id : "" }}</div>
    </div>
</div>
<div class="nav-tabs-top mb-4">
    <ul ngbNav #driverTabs="ngbNav" class="nav-tabs" [(activeId)]="active">
        <li [ngbNavItem]="1">
            <a ngbNavLink>Basic</a>
            <ng-template ngbNavContent>
                <app-dcomponent-basic [data]="data" [typeOptions]="typeOptions" (valueChange)="updateData($event)" (typeChange)="changeType($event)"></app-dcomponent-basic>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink>Driver Information</a>
            <ng-template ngbNavContent>
                <app-dcomponent-detail [data]="data" [typeOptions]="typeOptions" (valueChange)="updateData($event)"></app-dcomponent-detail>
            </ng-template>
        </li>
        <li [ngbNavItem]="3" >
            <a ngbNavLink >Financial</a>
            <ng-template ngbNavContent>
                <app-dcomponent-financial-detail [data]="data" [vatOptions]="vatOptions" (valueChange)="updateData($event)"></app-dcomponent-financial-detail>
            </ng-template>
        </li>
        <li [ngbNavItem]="4">
            <a ngbNavLink>History</a>
            <ng-template ngbNavContent>
                <app-dcomponent-history-job [userid]="userid"></app-dcomponent-history-job>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <app-dcomponent-history-mail [email]="data.email"></app-dcomponent-history-mail>
                    </div>
                    <div class="col-md-6">
                        <app-dcomponent-history-payment [userid]="userid"></app-dcomponent-history-payment>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="5">
            <a ngbNavLink>Driver Performance</a>
            <ng-template ngbNavContent>
                <app-dcomponent-business [driver_id]="userid" [type]="data.type"></app-dcomponent-business>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="driverTabs"></div>
</div>