<h4 class="d-flex justify-content-between align-items-center w-100
    font-weight-bold py-3 mb-4">
    <div>Edit Driver</div>
</h4>

<div class="media align-items-center py-3 mb-3">
    <div class="media-body ml-4">
        <h4 class="font-weight-bold mb-0">
            User name
            <span class="text-muted font-weight-normal">@ {{ data ?
                data.subcontractor :
                "" }}</span>
        </h4>
        <div class="text-muted mb-2">ID: {{ data ? data.id : "" }}</div>
    </div>
</div>
<div class="nav-tabs-top mb-4">
    <ul ngbNav #driverTabs="ngbNav" class="nav-tabs">
        <li ngbNavItem>
            <a ngbNavLink>Basic</a>
            <ng-template ngbNavContent>
                <app-dcomponent-basic [data]="data" [typeOptions]="typeOptions" (valueChange)="updateData($event)" (typeChange)="changeType($event)"></app-dcomponent-basic>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Detail</a>
            <ng-template ngbNavContent>
                <app-dcomponent-detail [data]="data" [typeOptions]="typeOptions" (valueChange)="updateData($event)"></app-dcomponent-detail>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink>Financial</a>
            <ng-template ngbNavContent>
                <app-dcomponent-financial-detail [data]="data" [vatOptions]="vatOptions" (valueChange)="updateData($event)"></app-dcomponent-financial-detail>
            </ng-template>
        </li>
        <li ngbNavItem *ngIf="data && data.type == 4">
            <a ngbNavLink>Business Document</a>
            <ng-template ngbNavContent>
                <app-dcomponent-financial-detail [data]="data" [vatOptions]="vatOptions" (valueChange)="updateData($event)"></app-dcomponent-financial-detail>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="driverTabs"></div>
</div>