<div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4" style="background-image: url('/assets/angular/assets/img/bg/1.jpg');">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>

    <div class="py-5">
        <div class="row">
            <div class="col-md-6 app-card" (click)="dashboard('c')">
                <div class="card">
                    <div class="p-4 p-sm-5 text-center">
                        <img src="assets/img/bg/9.jpg" alt class="d-block ui-w-140 max-w-100 mb-3">
                        <label>CHARON</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 app-card" (click)="dashboard('a')">
                <div class="card">
                    <div class="p-4 p-sm-5 text-center">
                        <img src="assets/img/bg/10.jpg" alt class="d-block ui-w-140 max-w-100 mb-3">
                        <label>AERS</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>