<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
    <div>Jobs</div>
</h4>

<div class="card">

    <!-- Table controls -->
    <div class="card-body">

        <div class="row">
            <div class="col">
                Per page: &nbsp;
                <select [(ngModel)]="perPage" (change)="update()"
                    class="form-control custom-select-sm d-inline-block w-auto">
                    <option *ngFor="let limit of [10, 20, 30, 40, 50]">{{limit}}</option>
                </select>
                <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; updateFilter()"
                    class="form-control form-control-sm d-inline-block w-auto " placeholder="Search...">
                <select [(ngModel)]="filterStatus" (change)="update()"
                    class="form-control form-control-sm d-inline-block w-auto" *ngIf="exclude_job==false">
                    <option value="0">All</option>
                    <option *ngFor="let item of taskStatus" value="{{ item.id }}">{{ item.name }}</option>
                </select>
                <label class="switcher switcher-danger switcher-lg">
                    <input type="checkbox" class="switcher-input" id="exclude_job"
                    (change)="onCheckChange($event)" name="exclude_job"
                    [checked]="exclude_job">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"><span class="ion ion-md-checkmark"></span></span>
                      <span class="switcher-no"><span class="ion ion-md-close"></span></span>
                    </span>
                    <span class="switcher-label">Exclude Job</span>
                </label>
            </div>
            <div class="col">
                <div class="btn-group btn-group-sm float-right">
                    <button type="button" class="btn btn-primary" (click)="addJob(1)">Add Job</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#paymentModal"
                        *ngIf="selectedTask.length > 0">Confirm Payment</button>
                </div>
            </div>
        </div>
    </div>
    <!-- / Table controls -->

    <!-- Table -->
    <hr class="border-light m-0">
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table job-list-table">
            <thead app-job-list-header [filterStatus]="filterStatus" [intermediate]="intermediate" [checkAll]="checkAll"
                [sortBy]="sortBy" [sortDesc]="sortDesc" (componentChange)="onSubComponentChange($event)">
            </thead>
            <tbody class="job-list-table">
                <tr *ngIf="newJob" app-inline-add [cOptions]="customerOptions" [cTotal]="customerTotal"
                    [dOptions]="driverOptions" [dTotal]="driverTotal" [vhOptions]="vehicleOptions"
                    [tOptions]="typeOptions" [vOptions]="vatOptions" [filterStatus]="filterStatus"
                    (componentChange)="onSubComponentChange($event)">
                </tr>
                <tr *ngFor="let task of taskData" app-inline-edit [task]="task" [cOptions]="customerOptions"
                    [cTotal]="customerTotal" [dOptions]="driverOptions" [dTotal]="driverTotal"
                    [vhOptions]="vehicleOptions" [tOptions]="typeOptions" [vOptions]="vatOptions"
                    [filterStatus]="filterStatus" (componentChange)="onSubComponentChange($event)">
                </tr>
            </tbody>
        </table>
    </div>
    <!-- / Table -->

    <!-- Pagination -->
    <div class="card-body py-0">

        <div class="row">
            <div class="col-sm text-sm-left text-center pt-3">
                <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
            </div>
            <div class="col-sm pt-3">
                <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage" [maxSize]="5"
                    [rotate]="true" [boundaryLinks]="true" (pageChange)="update()" size="sm"
                    class="d-flex justify-content-center justify-content-sm-end m-0">
                </ngb-pagination>
            </div>
        </div>

    </div>
    <!-- / Pagination -->
</div>



<div class="modal" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Payment</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered card-table">
                        <thead>
                            <tr>
                                <th class="text-nowrap cursor-pointer">
                                    Driver
                                </th>
                                <th class="text-nowrap cursor-pointer">
                                    Docket
                                </th>
                                <th class="text-nowrap cursor-pointer">
                                    Job Date
                                </th>
                                <th class="text-nowrap cursor-pointer">
                                    Driver Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of selectedTask">
                                <td class="align-middle">{{item.driver.email}}</td>
                                <td class="align-middle">{{item.docket}}</td>
                                <td class="align-middle" >
                                    <a>
                                        {{item.job_date | date}}
                                    </a>
                                </td>
                                <td class="align-middle">&pound;{{item.d_price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <form [formGroup]="dataForm">
                    <div class="form-group">
                        <label class="form-label">Payment Date</label>
                        <div class="input-group" [ngClass]="{'is-invalid': submitted && f.payment_date.errors }">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                formControlName="payment_date" name="payment_date" #d2="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="input-group-text" (click)="d2.toggle()" type="button">
                                    <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="submitted && f.payment_date.errors" class="invalid-feedback">
                            <div *ngIf="f.payment_date.errors.required">This field is Required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Payment Reference</label>
                        <input type="text" class="form-control" formControlName="payment_reference"
                            name="payment_reference"
                            [ngClass]="{'is-invalid': submitted && f.payment_reference.errors }">
                        <div *ngIf="submitted && f.payment_reference.errors" class="invalid-feedback">
                            <div *ngIf="f.payment_reference.errors.required">This field is Required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Total Payment</label>
                        <input type="number" step="0.01" class="form-control" formControlName="total_payment"
                            name="total_payment" (change)="changeTotalPayment()"
                            [ngClass]="{'is-invalid': submitted && f.total_payment.errors }">
                        <div *ngIf="submitted && f.total_payment.errors" class="invalid-feedback">
                            <div *ngIf="f.total_payment.errors.required">This field is Required</div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="onPaymentSubmit()">Confirm</button>
                <button type="button" class="btn btn-dark" (click)="onPaymentClose($event)">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="disputeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h4 class="modal-title" id="myModalLabel">Dispute Job</h4>
            </div>
            <div class="modal-body">

                <ngb-accordion [closeOthers]="true">
                    <ngb-panel id="accordion-static-1">
                        <ng-template ngbPanelTitle>
                            <span class="text-body">History</span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="" *ngFor="let item of data.query_history">
                                <div class="col-md">
                                    <label class="form-label btn-sm rounded-pill text-white" *ngIf="item.status == 2"
                                        [ngStyle]="{background: item._status ? item._status.color  : '#fff'}">Query</label>
                                    <label class="form-label btn-sm rounded-pill text-white" *ngIf="item.status != 2"
                                        [ngStyle]="{background: item._status ? item._status.color  : '#fff'}">Resolve</label>

                                    <div innerHTML="{{ item.description }}"></div>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
                <form [formGroup]="disputeForm">
                    <div class="form-group">
                        <label class="form-label">Mail Type</label>
                        <select class="form-control" formControlName="type_slug" name="type_slug"
                            (change)="changeDisputeTemplate()"
                            [ngClass]="{'is-invalid': submitted2 && df.type_slug.errors }">
                            <option *ngFor="let item of typeList" value="{{ item.type_slug }}">{{ item.type.value }}
                            </option>
                        </select>
                        <div *ngIf="submitted2 && df.type_slug.errors" class="invalid-feedback">
                            <div *ngIf="df.type_slug.errors.required">This field is Required</div>
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <label class="form-label">Content</label>
                    <textarea class="form-control " id="summernote-content" [ngxSummernote]
                        [(ngModel)]="summernote_content"></textarea>
                    <label id="summernote-error" class="error jquery-validation-error small form-text invalid-feedback"
                        for="subject" style="display: none;">This field is required.</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" (click)="disputeTask()">Submit</button>
                <button type="button" class="btn btn-dark" (click)="onDisputeClose()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="resolveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h4 class="modal-title" id="myModalLabel">Resolve Job</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <ngb-accordion [closeOthers]="true" activeIds="">
                        <ngb-panel id="accordion-static-1">
                            <ng-template ngbPanelTitle>
                                <span class="text-body">History</span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <div class="" *ngFor="let item of data.query_history">
                                    <div class="col-md">
                                        <label class="form-label btn-sm rounded-pill text-white"
                                            *ngIf="item.status == 2"
                                            [ngStyle]="{background: item._status ? item._status.color  : '#fff'}">Query</label>
                                        <label class="form-label btn-sm rounded-pill text-white"
                                            *ngIf="item.status != 2"
                                            [ngStyle]="{background: item._status ? item._status.color  : '#fff'}">Resolve</label>
                                        <div innerHTML="{{ item.description }}"></div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
                <div class="form-group">
                    <label class="form-label">Content</label>
                    <textarea class="form-control " id="resolve-summernote-content" [ngxSummernote]
                        [(ngModel)]="resolve_content"></textarea>
                    <label id="resolve-summernote-error"
                        class="error jquery-validation-error small form-text invalid-feedback" for="subject"
                        style="display: none;">This field is required.</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning" (click)="resolveTask()">Submit</button>
                <button type="button" class="btn btn-dark" (click)="onResolveClose()">Close</button>
            </div>
        </div>
    </div>
</div>