<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
    <div>Jobs</div>
</h4>

<div class="card">

    <!-- Table controls -->
    <div class="card-body">

        <div class="row">
            <div class="col">
                Per page: &nbsp;
                <select [(ngModel)]="perPage" (change)="update()"
                    class="form-control custom-select-sm d-inline-block w-auto">
                    <option *ngFor="let limit of [10, 20, 30, 40, 50]">{{limit}}</option>
                </select>
                <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; updateFilter()"
                    class="form-control form-control-sm d-inline-block w-auto " placeholder="Search...">
                <select [(ngModel)]="filterStatus" (change)="update()" class="form-control form-control-sm d-inline-block w-auto">
                    <option value="0">All</option>
                    <option *ngFor="let item of taskStatus" value="{{ item.id }}">{{ item.name }}</option>
                </select>
            </div>
            <div class="col" >
                <div class="btn-group btn-group-sm float-right">
                    <button type="button" class="btn btn-primary" (click)="addJob(1)">Add Job</button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#paymentModal" *ngIf="selectedTask.length > 0">Confirm Payment</button>
                </div>
            </div>
        </div>
    </div>
    <!-- / Table controls -->

    <!-- Table -->
    <hr class="border-light m-0">
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table job-list-table">
            <thead app-job-list-header
            [filterStatus]="filterStatus"
            [intermediate]="intermediate"
            [checkAll]="checkAll"
            [sortBy]="sortBy"
            [sortDesc]="sortDesc"
            (componentChange)="onSubComponentChange($event)">
        </thead>
            <tbody class="job-list-table">
                <tr *ngIf="newJob" app-inline-add
                    [cOptions] = "customerOptions"
                    [cTotal] = "customerTotal"
                    [dOptions] = "driverOptions"
                    [dTotal] = "driverTotal"
                    [vhOptions] = "vehicleOptions"
                    [tOptions] ="typeOptions"
                    [vOptions] ="vatOptions"
                    [filterStatus]="filterStatus"
                    (componentChange)="onSubComponentChange($event)">
                </tr>
                <tr *ngFor="let task of taskData" app-inline-edit 
                    [task]="task" 
                    [cOptions] = "customerOptions"
                    [cTotal] = "customerTotal"
                    [dOptions] = "driverOptions"
                    [dTotal] = "driverTotal"
                    [vhOptions] = "vehicleOptions"
                    [tOptions] ="typeOptions"
                    [vOptions] ="vatOptions"
                    [filterStatus]="filterStatus"
                    (componentChange)="onSubComponentChange($event)">
                </tr>
            </tbody>
        </table>
    </div>
    <!-- / Table -->

    <!-- Pagination -->
    <div class="card-body py-0">

        <div class="row">
            <div class="col-sm text-sm-left text-center pt-3">
                <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
            </div>
            <div class="col-sm pt-3">
                <ngb-pagination 
                [collectionSize]="totalItems" 
                [pageSize]="perPage" 
                [(page)]="currentPage" 
                [maxSize]="5" 
                [rotate]="true" 
                [boundaryLinks]="true"
                (pageChange)="update()" 
                size="sm" 
                class="d-flex justify-content-center justify-content-sm-end m-0">
                </ngb-pagination>
            </div>
        </div>

    </div>
    <!-- / Pagination -->
</div>



<div class="modal" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Payment</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="dataForm">
                    <div class="form-group">
                        <label class="form-label">Payment Date</label>
                        <div class="input-group" [ngClass]="{'is-invalid': submitted && f.payment_date.errors }">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                formControlName="payment_date" name="payment_date" #d2="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="input-group-text" (click)="d2.toggle()" type="button">
                                    <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="submitted && f.payment_date.errors" class="invalid-feedback">
                            <div *ngIf="f.payment_date.errors.required">This field is Required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Payment Reference</label>
                        <input type="text" class="form-control" formControlName="payment_reference" name="payment_reference"
                            [ngClass]="{'is-invalid': submitted && f.payment_reference.errors }">
                        <div *ngIf="submitted && f.payment_reference.errors" class="invalid-feedback">
                            <div *ngIf="f.payment_reference.errors.required">This field is Required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Total Payment</label>
                        <input type="number" step="0.01" class="form-control" formControlName="total_payment" name="total_payment" (change)="changeTotalPayment()"
                            [ngClass]="{'is-invalid': submitted && f.total_payment.errors }">
                        <div *ngIf="submitted && f.total_payment.errors" class="invalid-feedback">
                            <div *ngIf="f.total_payment.errors.required">This field is Required</div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="onPaymentSubmit()">Submit</button>
                <button type="button" class="btn btn-dark" (click)="onPaymentClose($event)">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="disputeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h4 class="modal-title" id="myModalLabel">Dispute Job</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="" *ngFor="let item of data.query_history">
                        <div class="col-md">
                            <label class="form-label btn-sm rounded-pill text-white" *ngIf="item.status == 2"
                                [ngStyle]="{background: item._status ? item._status.color  : '#fff'}">Query</label>
                            <label class="form-label btn-sm rounded-pill text-white" *ngIf="item.status != 2"
                                [ngStyle]="{background: item._status ? item._status.color  : '#fff'}">Resolve</label>
                            <p class="">
                                {{ item.description }}
                            </p>
    
                        </div>
                    </div>
                </div>
                <form [formGroup]="disputeForm">
                    <div class="form-group">
                        <label class="form-label">Please note the reason of dispute</label>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Description</label>
                        <textarea type="text" class="form-control" formControlName="description" name="description"
                            [ngClass]="{'is-invalid': submitted2 && df.description.errors }"></textarea>

                        <div *ngIf="submitted2 && df.description.errors" class="invalid-feedback">
                            <div *ngIf="df.description.errors.required">This field is Required</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" (click)="disputeTask()">Submit</button>
                <button type="button" class="btn btn-dark" (click)="onDisputeClose()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="resolveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h4 class="modal-title" id="myModalLabel">Resolve Job</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="" *ngFor="let item of data.query_history">
                        <div class="col-md">
                            <label class="form-label btn-sm rounded-pill text-white" *ngIf="item.status == 2"
                                [ngStyle]="{background: item._status ? item._status.color  : '#fff'}">Query</label>
                            <label class="form-label btn-sm rounded-pill text-white" *ngIf="item.status != 2"
                                [ngStyle]="{background: item._status ? item._status.color  : '#fff'}">Resolve</label>
                            <p class="">
                                {{ item.description }}
                            </p>
    
                        </div>
                    </div>
                </div>
                <form [formGroup]="resolveForm">
                    <div class="form-group">
                        <label class="form-label">Please note the reason of resolve</label>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Description</label>
                        <textarea type="text" class="form-control" formControlName="description" name="description"
                            [ngClass]="{'is-invalid': submitted3 && rf.description.errors }"></textarea>

                        <div *ngIf="submitted3 && rf.description.errors" class="invalid-feedback">
                            <div *ngIf="rf.description.errors.required">This field is Required</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning" (click)="resolveTask()">Submit</button>
                <button type="button" class="btn btn-dark" (click)="onResolveClose()">Close</button>
            </div>
        </div>
    </div>
</div>