<h4 class="d-flex justify-content-between align-items-center w-100 font-weight-bold py-3 mb-4">
    <div>Jobs</div>
</h4>

<div class="card">

    <!-- Table controls -->
    <div class="card-body">

        <div class="row">
            <div class="col">
                Per page: &nbsp;
                <select [(ngModel)]="perPage" (change)="update()"
                    class="form-control custom-select-sm d-inline-block w-auto">
                    <option *ngFor="let limit of [10, 20, 30, 40, 50]">{{limit}}</option>
                </select>
                <input type="text" [(ngModel)]="filterVal" (input)="currentPage = 1; update()"
                    class="form-control form-control-sm d-inline-block w-auto " placeholder="Search...">
                <select [(ngModel)]="filterStatus" (change)="update()" class="form-control form-control-sm d-inline-block w-auto">
                    <option value="0">All</option>
                    <option *ngFor="let item of taskStatus" value="{{ item.id }}">{{ item.name }}</option>
                </select>
            </div>
            <div class="col" *ngIf="selectedTask.length > 0">
                <div class="btn-group btn-group-sm float-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#paymentModal">Confirm Payment</button>
                </div>
            </div>
        </div>

    </div>
    <!-- / Table controls -->

    <!-- Table -->
    <hr class="border-light m-0">
    <div class="table-responsive">
        <table class="table table-striped table-bordered card-table">
            <thead>
                <tr>
                    <th class="text-nowrap cursor-pointer" *ngIf="filterStatus==4">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" (change)="onSelectAll($event)"
                                data-taskid="all" [indeterminate]="intermediate" [checked]="checkAll">
                            <span class="custom-control-label"></span>
                        </label>
                    </th>
                    <th class="text-nowrap cursor-pointer" (click)="setSort('id')">
                        Docket Number<i class="ion text-muted ml-2" *ngIf="sortBy=='id'"
                            [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer" (click)="setSort('latestActivity')">
                        Status<i class="ion text-muted ml-2" *ngIf="sortBy=='latestActivity'"
                            [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer" (click)="setSort('email')">
                        Customer<i class="ion text-muted ml-2" *ngIf="sortBy=='email'"
                            [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer" (click)="setSort('name')">
                        Job Date<i class="ion text-muted ml-2" *ngIf="sortBy=='name'"
                            [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
                    </th>
                    
                    <th class="text-nowrap cursor-pointer" (click)="setSort('latestActivity')">
                        Driver<i class="ion text-muted ml-2" *ngIf="sortBy=='latestActivity'"
                            [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
                    </th>                    
                    <th class="text-nowrap cursor-pointer" (click)="setSort('latestActivity')">
                        Job Price<i class="ion text-muted ml-2" *ngIf="sortBy=='latestActivity'"
                            [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer" (click)="setSort('latestActivity')">
                        Driver Price<i class="ion text-muted ml-2" *ngIf="sortBy=='latestActivity'"
                            [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
                    </th>
                    <th class="text-nowrap cursor-pointer" (click)="setSort('latestActivity')">
                        Profit<i class="ion text-muted ml-2" *ngIf="sortBy=='latestActivity'"
                            [ngClass]="'ion-md-arrow-' + (sortDesc ? 'down' : 'up')"></i>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="job-list-table">
                <tr *ngFor="let task of taskData" >
                    <td class="text-nowrap cursor-pointer td_show td_{{ task.id }}" *ngIf="filterStatus==4">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" (change)="onSelectTask($event)"
                                value="{{task.id}}" [checked]="task.checked">
                            <span class="custom-control-label"></span>
                        </label>
                    </td>
                    <td class="align-middle td_show  td_{{ task.id }}" (click)="inlineEditTask(task.id)">{{task.docket}}</td>
                    <td class="align-middle td_show  td_{{ task.id }}" (click)="inlineEditTask(task.id)" 
                    [ngStyle]="{background: task._status ? task._status.color : '#fff', color: task._status.id == 5 ? '#fff' : '#000'}">{{task._status.name}}</td>
                    <td class="align-middle td_show  td_{{ task.id }}" (click)="inlineEditTask(task.id)">{{ task.customer.account_code }} - {{task.customer.company_name}}</td>
                    <td class="align-middle td_show  td_{{ task.id }}" (click)="inlineEditTask(task.id)">{{task.job_date}}</td>
                    <td class="align-middle td_show  td_{{ task.id }}" (click)="inlineEditTask(task.id)">{{ task.driver? task.driver.call_sign: ''}} - {{task.driver ? task.driver.email: ''}}</td>
                    <td class="align-middle td_show  td_{{ task.id }}" (click)="inlineEditTask(task.id)">&pound; {{ task.c_tprice.toFixed(2) }}</td>
                    <td class="align-middle td_show  td_{{ task.id }}" (click)="inlineEditTask(task.id)">&pound; {{task.d_tprice.toFixed(2)}}</td>
                    <td class="align-middle td_show  td_{{ task.id }}" (click)="inlineEditTask(task.id)">&pound; {{task.profit.toFixed(2)}}</td>
                    <td class="align-middle td_show  td_{{ task.id }}">
                        <a class="btn btn-default  icon-btn md-btn-flat" ngbtooltip="Edit" (click)="editTask(task.id)">
                            <i class="ion ion-md-create"></i>
                        </a>
                    </td>

                    <!-- edit form -->
                    <td *ngIf="filterStatus==4" class="bg-warning td_form form_{{ task.id }} d-none"></td>
                    <td class="align-middle td_form form_{{ task.id }} d-none" >
                        <input type="text" id="docket_{{ task.id }}" class="form-control bg-warning" [(ngModel)]="docket">
                    </td>
                    <td class="align-middle td_form form_{{ task.id }} d-none" [ngStyle]="{background: task._status ? task._status.color : '#fff'}">{{task._status.name}}</td>
                    <td class="align-middle td_form form_{{ task.id }} d-none" >
                        <ng-select [items]="customerOptions" bindLabel="dispName" bindValue="id"
                            id="customer_id_{{ task.id }}" [loading]="customerLoading" class="custom"
                            [(ngModel)]="customer_id"
                            (change)="changeCustomer($event)" [virtualScroll]="true" (scrollToEnd)="onScrollToEnd()"
                            (search)="customerSearchFn($event)" (open)="customerOpen($event)">
                            <ng-template ng-label-tmp let-item="item">
                                <span class="ng-value-label">{{item['dispName']}}</span>
                            </ng-template>

                            <ng-template ng-option-tmp let-item="item">
                                <span class="ng-value-label">{{item['dispName']}}</span>
                            </ng-template>
                        </ng-select>
                    </td>
                    <td class="align-middle td_form form_{{ task.id }} d-none" >
                        <div class="input-group">
                            <input class="form-control bg-warning" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                [(ngModel)]="job_date" name="job_date" #d="ngbDatepicker"
                                [ngClass]="{'is-invalid' : submitted && f.job_date.errors }" readonly>
                            <div class="input-group-append">
                                <button class="input-group-text" (click)="d.toggle()" type="button">
                                    <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                                </button>
                            </div>
                        </div>
                    </td>
                    
                    <td class="align-middle td_form form_{{ task.id }} d-none" >
                        <ng-select [items]="driverOptions" bindLabel="dispName" bindValue="id"
                            [loading]="driverLoading" id="driver_id_{{ task.id }}" class="custom"
                            (change)="changeDriver($event)" [virtualScroll]="true"
                            (scrollToEnd)="onScrollToEndDriver()" (search)="driverSearchFn($event)"
                            [(ngModel)]="driver_id"
                            (open)="driverOpen($event)">
                            <ng-template ng-label-tmp let-item="item">
                                <span class="ng-value-label">{{item['dispName']}}</span>
                            </ng-template>

                            <ng-template ng-option-tmp let-item="item">
                                <span class="ng-value-label">{{item['dispName']}}</span>
                            </ng-template>
                        </ng-select>
                    </td>
                    <td class="align-middle td_form form_{{ task.id }} d-none" >
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">&pound;</span>
                            </div>
                            <input type="number" step="0.01" class="form-control bg-warning" [(ngModel)]="c_tprice" (change)="changePrice()">
                        </div>
                    </td>
                    <td class="align-middle td_form form_{{ task.id }} d-none" >
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">&pound;</span>
                            </div>
                            <input type="number" step="0.01" class="form-control bg-warning" [(ngModel)]="d_tprice" (change)="changePrice()">
                        </div>
                    </td>
                    <td class="align-middle td_form form_{{ task.id }} d-none">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">&pound;</span>
                            </div>
                            <input type="number" step="0.01" class="form-control bg-warning" [(ngModel)]="profit" readonly>
                        </div>
                    </td>

                    <td class="align-middle td_form form_{{ task.id }} d-none">
                        <div class="d-inline-flex">
                            <a class="btn btn-default  icon-btn md-btn-flat" ngbtooltip="Save" (click)="updateTask(task.id)">
                                <i class="ion ion-md-save"></i>
                            </a>
                            <a class="btn btn-default  icon-btn md-btn-flat" ngbtooltip="Cancel" (click)="cancelTask()">
                                <i class="ion ion-md-close"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- / Table -->

    <!-- Pagination -->
    <div class="card-body py-0">

        <div class="row">
            <div class="col-sm text-sm-left text-center pt-3">
                <span class="text-muted" *ngIf="totalItems">Page {{ currentPage }} of {{ totalPages }}</span>
            </div>
            <div class="col-sm pt-3">
                <ngb-pagination [collectionSize]="totalItems" [pageSize]="perPage" [(page)]="currentPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                    (pageChange)="update()" size="sm" class="d-flex justify-content-center justify-content-sm-end m-0">
                </ngb-pagination>
            </div>
        </div>

    </div>
    <!-- / Pagination -->
</div>



<div class="modal" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Payment</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="dataForm">
                    <div class="form-group">
                        <label class="form-label">Payment Date</label>
                        <div class="input-group" [ngClass]="{'is-invalid': submitted && f.payment_date.errors }">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                                formControlName="payment_date" name="payment_date" #d2="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="input-group-text" (click)="d2.toggle()" type="button">
                                    <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="submitted && f.payment_date.errors" class="invalid-feedback">
                            <div *ngIf="f.payment_date.errors.required">This field is Required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Payment Reference</label>
                        <input type="text" class="form-control" formControlName="payment_reference" name="payment_reference"
                            [ngClass]="{'is-invalid': submitted && f.payment_reference.errors }">
                        <div *ngIf="submitted && f.payment_reference.errors" class="invalid-feedback">
                            <div *ngIf="f.payment_reference.errors.required">This field is Required</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="onPaymentSubmit()">Submit</button>
                <button type="button" class="btn btn-dark" (click)="onPaymentClose($event)">Close</button>
            </div>
        </div>
    </div>
</div>