<div class="row top-banner">
  <div class="top-logo col-md-2">
    <a href="https://www.gjsservices.com" target="_blank"><img src="assets/img/logo-drop.png" class="d-block img-1" alt></a>
  </div>
  <div class="top-banner col-md-10">
    <p>
      Welcome to GJS
    </p>
  </div>
</div>
<div class="container ui-bg-cover ui-bg-overlay-container">
  <div class="bg-dark opacity-25"></div>

  <div class="authentication-inner py-5">
    <div class="row main-section p-4">
      <div class="col-md-6 section-right">
        <div class="">
          <img src="assets/img/logo.png" class="d-block img-1" alt>
        </div>
        <p class="mt-4 mb-4">Lorem test text</p>
        <p class="m-0">
          <span>
            <img src="assets/img/tickcon.jpg" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Exclusive pricing and rates
          </span>
        </p>
        <p class="m-0">
          <span>
            <img src="assets/img/tickcon.jpg" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Access to a wide range of services and vehicles 
          </span>
        </p>
        <p class="m-0">
          <span>
            <img src="assets/img/tickcon.jpg" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Real-time tracking and booking
          </span>
        </p>
        <p class="m-0">
          <span>
            <img src="assets/img/tickcon.jpg" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Online contact and address book
          </span>
        </p>
        <p class="m-0">
          <span>
            <img src="assets/img/tickcon.jpg" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Access to a dedicated account manager
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
