<div class="ui-block">
  <h3 class="ui-block-heading">ngx-plyr</h3>
  <a target="_blank" href="https://github.com/smnbbrv/ngx-plyr" class="ui-block-description">https://github.com/smnbbrv/ngx-plyr</a>

  <div class="no-ie10" data-name="ngx-plyr"></div>

  <h4 class="ui-block-heading">Examples</h4>

  <div class="cui-example cui-example-vertical-spacing">
    <plyr class="d-block" plyrType="video" [plyrSources]="[{ src: 'bTqVqk7FSmY', provider: 'youtube' }]"></plyr>
    <plyr class="d-block" plyrType="audio" [plyrSources]="[{ src: 'assets/audio/Water_Lily.mp3' }]"></plyr>
  </div>
</div>
