<h4 class="font-weight-bold py-3 mb-4">
    Dashboard
    <div class="text-muted text-tiny mt-1"><small class="font-weight-normal">Today is {{ today }}</small>
    </div>
</h4>
    <div class="row align-middle mt-2 mb-2">
            <div class="form-group hidden">
                <div class="input-group">
                    <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                        [autoClose]="'outside'" (dateSelect)="onDateSelection($event, datepicker)" [displayMonths]="2"
                        [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" style="visibility: hidden;">
                    <ng-template #t let-date let-focused="focused">
                        <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)"
                            (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                        </span>
                    </ng-template>
                </div>
            </div>
            <div class="form-group col-4 p-0 d-none">
                <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                    [value]="formatter.format(fromDate)"
                    (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
            </div>
            <div class="form-group col-4 p-0 d-none">
                <div class="input-group">
                    <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                        [value]="formatter.format(toDate)"
                        (input)="toDate = validateInput(toDate, dpToDate.value)">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Date Range</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd ~ yyyy-mm-dd" name="dpAll"
                            [value]="formatter.format(fromDate) + '~' + formatter.format(toDate)">
                        <div class="input-group-append">
                            <button class="input-group-text" (click)="datepicker.toggle()" type="button">
                                <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">
                        Vehicle Type
                    </label>
                    <ng-select [items]="vehicleOptions" bindLabel="label" bindValue="value"
                    [loading]="vehicleLoading"
                    (change)="changeVehicle($event)">
                    <ng-template ng-label-tmp let-item="item">
                        <span class="ng-value-label">{{item['label']}}</span>
                    </ng-template>

                    <ng-template ng-option-tmp let-item="item">
                        <span class="ng-value-label">{{item['label']}}</span>
                    </ng-template>
                </ng-select>

                </div>
            </div>
    </div>
<!-- Counters -->
<div class="row">
    <div class="col-md" *ngFor="let item of job_count; let i=index;">
        <div class="card mb-4">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="lnr lnr-gift display-4 text-danger"></div>
                    <div class="ml-3">
                        <div class="text-muted small">{{ item.name }}</div>
                        <div class="text-large">{{ item.cps }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Counters -->

<!-- Statistics -->
<div class="card mb-4">
    <h6 class="card-header">
        <div class="row">
            <div class="card-header-title col-md-2">Statistics</div>
        </div>
    </h6>
    <div class="row no-gutters row-bordered">
        <div class="col-md-8 col-lg-12 col-xl-8">
            <div class="card-body">
                <div style="height: 210px">
                    <canvas baseChart height="210" [datasets]="chart1Data"
                        [labels]="chart1Label"
                        [options]="chart1Options" [chartType]="'line'" [colors]="chart1Colors">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-12 col-xl-4">
            <div class="card-body">

                <!-- Numbers -->
                <div class="row">
                    <div class="col-6 col-xl-5 text-muted mb-3">Total Job</div>
                    <div class="col-6 col-xl-7 mb-3">
                        <span class="text-big">{{ total_job }}</span>
                        <sup class="text-success">+12%</sup>
                    </div>
                    <div class="col-6 col-xl-5 text-muted mb-3">Profit</div>
                    <div class="col-6 col-xl-7 mb-3">
                        <span class="text-big">&pound; {{ profit_sum }}</span>
                        <sup class="text-danger"></sup>
                    </div>
                    <div class="col-6 col-xl-5 text-muted mb-3">Average Cost Per Mile</div>
                    <div class="col-6 col-xl-7 mb-3">
                        <span class="text-big">&pound; {{ customer_ppm }}</span>
                        <sup class="text-success">Customer</sup>
                    </div>
                    <div class="col-6 col-xl-5 text-muted mb-3">Average Cost Per Mile</div>
                    <div class="col-6 col-xl-7 mb-3">
                        <span class="text-big">&pound; {{ customer_ppm }}</span>
                        <sup class="text-success">Driver</sup>
                    </div>
                </div>
                <!-- / Numbers -->

            </div>
        </div>
    </div>
</div>
<!-- / Statistics -->
<div class="row">
    <div class="col-sm-6 col-xl-3">

        <div class="card mb-4">
            <div class="card-body pb-3">
                <strong class="text-big">1032</strong>
                <small class="text-muted">Jobs</small>
            </div>
            <div class="px-2">
                <div class="w-100" style="height: 35px">
                    <canvas baseChart height="35" [datasets]="chart2Data"
                        [labels]="['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']"
                        [options]="chart2Options" [chartType]="'bar'" [colors]="chart2Colors">
                    </canvas>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-6 col-xl-3">

        <div class="card mb-4">
            <div class="card-body d-flex justify-content-between align-items-center" style="height: 98px">
                <div>
                    <div class="text-muted text-tiny">Increasing Profit</div>
                    <strong class="text-large font-weight-normal">1534</strong>
                    <sup class="small text-danger">-5%</sup>
                </div>
                <div class="w-50" style="height: 35px">
                    <canvas baseChart height="35" [datasets]="chart3Data"
                        [labels]="['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']"
                        [options]="chart3Options" [chartType]="'line'" [colors]="chart3Colors">
                    </canvas>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-6 col-xl-3">

        <div class="card mb-4">
            <div class="card-body d-flex justify-content-between align-items-center" style="height: 98px">
                <div>
                    <div class="text-muted small">Complete Jobs</div>
                    <strong class="text-large font-weight-normal">34</strong>
                    <sup class="text-success small">+ 12%</sup>
                </div>
                <div class="w-50" style="height: 35px">
                    <canvas baseChart height="35" [datasets]="chart4Data"
                        [labels]="['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']"
                        [options]="chart4Options" [chartType]="'line'" [colors]="chart4Colors">
                    </canvas>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-6 col-xl-3">

        <div class="card mb-4">
            <div class="card-body d-flex justify-content-between align-items-center" style="height: 98px">
                <div>
                    <div class="text-muted small">Average Cost Per Mile</div>
                    <strong class="text-large font-weight-normal">$0.534</strong>
                    <sup class="text-success small">+ 2%</sup>
                </div>
                <div class="w-50" style="height: 35px">
                    <canvas baseChart height="35" [datasets]="chart5Data"
                        [labels]="['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']"
                        [options]="chart5Options" [chartType]="'line'" [colors]="chart5Colors">
                    </canvas>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <!-- / Charts -->
    <div class="col-md-6 col-lg-12 col-xl-6">
        <!-- Sales -->
        <h6 class="with-elements">
            <div class="">Most Valuable Customer</div>
        </h6>
        <div class="nav-tabs-top mb-4">
            <ul ngbNav #customerTabs="ngbNav" class="nav-tabs">
                <li ngbNavItem>
                    <a ngbNavLink>Profit</a>
                    <ng-template ngbNavContent>
                        <table class="table card-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Profit</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of c_profit; let i=index;">
                                    <td>{{ i+1 }}</td>
                                    <td>{{ item.account_code }} - {{ item.company_name }}</td>
                                    <td>&pound; {{ item.cc }}</td>
                                    <td>
                                        <button class="btn" (click)="viewCustomer(item.id)">View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink>Billed</a>
                    <ng-template ngbNavContent>
                        <table class="table card-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Bill</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of c_bill; let i=index">
                                    <td>{{ i+1 }}</td>
                                    <td>{{ item.account_code }} - {{ item.company_name }}</td>
                                    <td>&pound; {{ item.cc }}</td>
                                    <td>
                                        <button class="btn" (click)="viewCustomer(item.id)">View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink>Job</a>
                    <ng-template ngbNavContent>
                        <table class="table card-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Jobs</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of c_job; let i=index">
                                    <td class="align-middle">{{ i+1 }}</td>
                                    <td class="align-middle"> {{ item.account_code }} - {{ item.company_name }}</td>
                                    <td class="align-middle">{{ item.cc }}</td>
                                    <td class="align-middle">
                                        <button class="btn" (click)="viewCustomer(item.id)">View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="customerTabs"></div>
        </div>
        <!-- / Sales -->
    </div>
    <div class="col-md-6 col-lg-12 col-xl-6">
        <!-- Sales -->
        <h6 class="with-elements">
            <div class="">Most Valuable Driver</div>
        </h6>
        <div class="nav-tabs-top mb-4">
            <ul ngbNav #driverTabs="ngbNav" class="nav-tabs">
                <li ngbNavItem>
                    <a ngbNavLink>Profit</a>
                    <ng-template ngbNavContent>
                        <table class="table card-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Profit</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of d_profit; let i=index">
                                    <td>{{ i+1 }}</td>
                                    <td>{{ item.subcontractor }}</td>
                                    <td>&pound; {{ item.cc }}</td>
                                    <td>
                                        <button class="btn" (click)="viewDriver(item.id)">View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink>Billed</a>
                    <ng-template ngbNavContent>
                        <table class="table card-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Bill</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of d_bill; let i=index">
                                    <td>{{ i+1 }}</td>
                                    <td>{{ item.subcontractor }}</td>
                                    <td>&pound; {{ item.cc }}</td>
                                    <td>
                                        <button class="btn" (click)="viewDriver(item.id)">View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink>Job</a>
                    <ng-template ngbNavContent>
                        <table class="table card-table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Jobs</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of d_job;let i = index">
                                    <td class="align-middle">{{ i+1 }}</td>
                                    <td class="align-middle">{{ item.subcontractor }}</td>
                                    <td class="align-middle">{{item.cc}}</td>
                                    <td class="align-middle">
                                        <button class="btn" (click)="viewDriver(item.id)">View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="driverTabs"></div>
        </div>
        <!-- / Sales -->
    </div>

</div>