<!-- Table -->
<hr class="border-light m-0">
<div class="table-responsive">
    <table class="table table-striped table-bordered card-table">
        <thead>
            <tr>
                <th class="text-nowrap cursor-pointer">
                    Train Name
                </th>
                <th class="text-nowrap cursor-pointer">
                    Pass
                </th>
                <th class="text-nowrap cursor-pointer">
                    Date
                </th>
                <th class="text-nowrap cursor-pointer">
                    Expiry / Renewal Date
                </th>
                <th class="text-nowrap cursor-pointer">
                    Upload
                </th>
            </tr>
        </thead>
        <input hidden type="file" accept="" id="uploader" (change)="uploadFile($event)" />
        <tbody class="job-list-table">
            <tr *ngFor="let doc of trainingList" [ngClass]="doc.class">
                <td class="align-middle">{{ doc.name }}</td>
                <td class="align-middle">
                    <input 
                        id="has_eye_insight_test" 
                        [(ngModel)]="doc.pass"
                        type="checkbox"
                    />
                </td>
                <td class="align-middle">
                    <div class="input-group">
                        <input 
                            class="form-control"
                            placeholder="yyyy-mm-dd"
                            ngbDatepicker 
                            name="birthday" 
                            #d="ngbDatepicker" 
                            [(ngModel)]="doc.tdate"
                            (ngModelChange)="onDateChange($event, doc.idx)"
                            [ngClass]="{'is-invalid' : submitted && doc.errors }" 
                            readonly (click)="d.toggle()"
                        />
                        <div class="input-group-append">
                            <button class="input-group-text" (click)="d.toggle()" type="button">
                                <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
                            </button>
                        </div>
                    </div>
                </td>
                <td class="align-middle">{{ doc.expire }}</td>
                <td>
                    <div class="d-inline-flex">
                        <a class="btn btn-default icon-btn md-btn-flat" ngbtooltip="Upload" (click)="uploadDocument(doc.idx)">
                            <i class="ion ion-md-cloud-upload"></i>
                        </a>

                        <button ngbtooltip="Delete" 
                            class="btn
                            btn-default
                            icon-btn md-btn-flat" [ngClass]="{'noClick' : doc.file
                            == '' }" [swal]="{title:'Are you
                            sure?', text:'You won\'t
                            be able to revert this!', icon:'warning',
                            showCancelButton:true, confirmButtonText:'Yes,
                            delete it!', showCloseButton:true, customClass:
                            {confirmButton:'btn btn-lg
                            btn-warning',cancelButton: 'btn btn-lg
                            btn-default'}}" (confirm)="deleteDocument(doc.idx)">
                            <i class="ion ion-md-trash"></i>
                        </button>
                        <a [ngClass]="{'noClick' : doc.file == '' }" class="btn
                            btn-default
                            icon-btn md-btn-flat" ngbtooltip="View" href="{{
                                downloadurl }}?driver={{ driver_id }}&filename={{
                                    doc.file }}">
                            <i class="ion ion-md-cloud-download"></i>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button 
    type="button"
    (click)="onSubmit()"
    class="btn btn-primary
    rounded-pill d-block"
>
    <span class="ion ion-md-add"></span>&nbsp; Update
</button>
<!-- / Table -->